.employee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  &__name {
    margin-left: 5px;
  }
  &__status {
    display: flex;
    margin-left: 20px;
    //.status-item:not(:last-child){
    //  margin-right: 30px;
    //}
    //.status-item {
    //  padding: 10px;
    //  border: 1px solid #ccc;
    //  position: relative;
    //  text-transform: capitalize;
    //  font-weight: 600;
    //
    //  &:hover {
    //    cursor: pointer;
    //  }
    //  &.active {
    //    background: #3300FF;
    //    border: #3300FF;
    //    color: #fff;
    //  }
    //}
  }
}